{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex h-screen items-center justify-around gap-4 bg-gradient-to-r from-indigo-400 via-violet-600 to-cyan-400">
        <div class=" h-full p-4">
            <img src="{% static "img/signup.svg" %}" class="h-full">
        </div>

        <div class="w-10/12 p-4 h-full">
            <h1 class="text-6xl font-source-code-pro font-bold my-3 text-center text-neutral">Signup</h1>
            <form method="POST">
                {% csrf_token %}
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">{{ form.username.label }}</span>
                    </div>
                    {{ form.username }}
                    <div class="label">
                        <span class="label-text">{{ form.username.errors }}</span>
                    </div>
                </label>
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">{{ form.email.label }}</span>
                    </div>
                    {{ form.email }}
                    <div class="label">
                        <span class="label-text">{{ form.email.errors }}</span>
                    </div>
                </label>
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">{{ form.role.label }}</span>
                    </div>
                    {{ form.role }}
                    <div class="label">
                        <span class="label-text">{{ form.role.errors }}</span>
                    </div>
                </label>
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">{{ form.password1.label }}</span>
                    </div>
                    {{ form.password1 }}
                    <div class="label">
                        <span class="label-text ">{{ form.password1.help_text }}</span>
                        <span class="label-text">{{ form.password1.errors }}</span>
                    </div>
                </label>
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">{{ form.password2.label }}</span>
                    </div>
                    {{ form.password2 }}
                    <div class="label">
                        <span class="label-text">{{ form.password2.errors }}</span>
                    </div>
                </label>

                <button type="submit" class="btn btn-neutral my-2 w-full">Signup</button>
            </form>
        </div>
    </div>
{% endblock %}