{% extends "base.html" %}
{% block head %}
    {{  form.media }}
 {% endblock head %}
{% block content %}
    <div class="w-2/3 m-auto bordered border-2 p-2 mt-3">
        <h1 class="text-4xl font-bold my-3 text-center text-neutral">🪲 Update bug: {{ bug.title }} 🪲 </h1>
        <form method="POST">
            {% csrf_token %}
            <label class="form-control">
                <div class="label">
                    <span class="label-text">Title</span>
                </div>
                {{ form.title }}
                <div class="label">
                    <span class="label-text">{{ form.title.errors }}</span>
                </div>
            </label>
            <label class="form-control">
                <div class="label">
                    <span class="label-text">Description</span>
                </div>
                {{ form.description }}
                <div class="label">
                    <span class="label-text">{{ form.description.errors }}</span>
                </div>
            </label>
            <label class="form-control ">
                <div class="label">
                    <span class="label-text">Project</span>
                </div>
                {{ form.project }}

                <div class="label">
                    <span class="label-text">{{ form.project.errors }}</span>
                </div>
            </label>
            <label class="form-control ">
                <div class="label">
                    <span class="label-text">Assign to</span>
                </div>
                {{ form.assigned_to }}
                <div class="label">
                    <span class="label-text">{{ form.assigned_to.errors }}</span>
                </div>
            </label>
            <label class="form-control ">
                <div class="label">
                    <span class="label-text">Priority</span>
                </div>
                {{ form.priority }}
                <div class="label">
                    <span class="label-text">{{ form.priority.errors }}</span>
                </div>
            </label>
            <label class="form-control ">
                <div class="label">
                    <span class="label-text">Status</span>
                </div>
                {{ form.status }}
                <div class="label">
                    <span class="label-text">{{ form.status.errors }}</span>
                </div>
            </label>
            <button type="submit" class="btn btn-neutral my-2">Update</button>
        </form>
    </div>
{% endblock %}